doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 마음 그대로
    body 
        header 
            h2 마음 그대로
        nav 
            a(href="")
                h2 소개 
            a(href="")
                h2 후원하기
            a(href="")
                h2 개발자 후원하기 
        main 
            block content 
        include footer.pug 