extends base.pug 

block content 
    div 
        h1 회원가입
    div 
        if errorMessage 
            h3=errorMessage 
        form(method="POST")
            label(for="") 이름 
            input(type="text", required, name="name", minlength="2", maxlength="5", placeholder="이름을 입력해주세요")    
            label(for="") 생년월일
            input(type="number", required, name="birthDay", placeholder="ex) 20020905", maxlength="8", minlength="8")
            label(for="") 이메일 주소
            input(type="email", required, name="email", placeholder=" 이메일 주소를 입력해주세요")
            label(for="") 비밀번호
            input(type="password", required, name="password", placeholder="비밀번호를 입력해주세요")
            button(type="submit") 확인


