extends base.pug 

block content 
    div 
        h1 로그인
    div 
        form(method="POST")
            label(for="") 이메일 주소
            input(type="email", required, name="patronEmail", placeholder=" 이메일 주소를 입력해주세요")
            label(for="") 비밀번호
            input(type="password", required, name="patronPassword", placeholder="비밀번호를 입력해주세요")
            button(type="submit") 확인