extends base.pug

block content 
    label 정기 후원
        a(href="")
            button(disabled) 정기 후원 
    p * 현재 서비스 개발 중 입니다.   
    label 일시 후원
        a(href="")
            button 일시 후원
    br
    label 후원 상세 설명 
        a(href="/spon/introduce")
            button 후원 상세 설명 
